.flex-container{
width: 70%;
height: 100px;
background-color: #c3c3c3;
display: flex;
margin-left: 200px;
}

.flex-container1{
width: 70%;
height: 500px;
background-color: #c3c3c3;
display: flex;
margin-left: 200px;
}


#subcontainer1{
justify-content: flex-start;
flex-direction:row;
justify-content:space-between;
text-align: center
}


#subcontainer2{
justify-content: flex-start;
flex-direction:row;
justify-content:space-between;
text-align: center
}
#div1 {
width: 350px;
height: 70px;
padding: 10px;
border: 1px solid #aaaaaa;
}
.item{
width: 300px;
height: 50px;
border-color:initial;
text-align: center
flex-direction:row;
justify-content:space-between;
border-top-style: dotted;
border-right-style: dotted;
border-bottom-style: dotted;
border-left-style: dotted;
}
.item1  {
width: 300px;
height: 500px;
border-color:initial;
text-align: center
flex-direction:row;
justify-content:space-between;
border-top-style: dotted;
border-right-style: dotted;
border-bottom-style: dotted;
border-left-style: dotted;
}


a:active {
background-color: yellow;
}
#projects{
margin-bottom: -1000px;
max-height: 100%;
}
#agre{
margin-top: -100px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}
td, th {
border: 4px solid #dddddd;
text-align: left;
padding: 8px;
margin-right: -1000%;
margin-right: 10000px;
margin: -1000%;
}
tr:nth-child(even) {
background-color: #dddddd;
}
.a{
margin-left: -1000px;
}