body{
	padding-top: 60px;
}

a:active { 
    background-color: yellow;
}
#projects{
	margin-bottom: -1000px;   
	max-height: 100%;
}
#agre{
	margin-top: -100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 4px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin-right: -1000%;
    margin-right: 10000px;
    margin: -1000%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.a{

	margin-left: -1000px;
}